.footer {
  z-index: 0;

  .footerInfo {
    background-color: rgb(172, 204, 193);
    display: flex;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    padding: 50px 50px;

    .logoBox {
      h1 {
        color: #fff;
      }
      p {
        color: #000;
      }
    }
    .contactBox {
      h1 {
        color: green;
        font-size: 26px;
        font-weight: 400;
      }
      p {
        color: #000;
      }
      .circles {
        display: flex;
        justify-content: space-between;
        .circle {
          width: 40px;
          height: 40px;
          background-color: #fff;
          border-radius: 50%;
        }
      }
    }
    .menuBox {
      h1 {
        color: green;
        font-size: 26px;
        font-weight: 400;
      }
      p {
        color: #000;
      }
    }
  }
  .credits {
    text-align: center;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
  }
}

@media (min-width: 0px) {
  .footerInfo {
    flex-direction: column;
    text-align: center;
    
    .menuBox {
      padding-top: 20px;
    }
  }
}
@media (min-width: 1024px) {
  .footerInfo {
    flex-direction: row;
    text-align: left;

    .logoBox {
      width: 100%;
    }
    .contactBox {
      width: 240px;
    }
    .menuBox {
      width: 300px;
      padding-top: 0px;
      text-align: center;
    }
  }
  .credits {
    text-align: center;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
    //line-height: 1.5;
    display: flex;
    justify-content: center;
    p {
      //border: 1px solid red;
      margin: 0 10px;
    }
  }
}